
@{
    ViewData["Title"] = "RecruiterDashboard";
    var ApprovalStatus = ViewData["ApprovalStatus"];
}

<h1 class="pt-3">Welcome @ViewData["FirstName"] (Recruiter)</h1>


@if (ApprovalStatus != null && !(bool)ApprovalStatus)
{
    <h4>Your registration is currently waiting for approval</h4>
}
 else
{
    <div class="row pt-4">
        <div class="col-md-12 text-center">
            <div class="btn-group" role="group">
                <a class="btn btn-primary custom-btn mx-2 mb-2 rounded" asp-area="jobpostA" asp-controller="JobPost" asp-action="CreateJobPost">Create Job Post</a>
                <a class="btn btn-primary custom-btn mx-2 mb-2 rounded" asp-area="jobpostA" asp-controller="JobPost" asp-action="ManageJobPosts">Manage Post</a>
                <a class="btn btn-primary custom-btn mx-2 mb-2 rounded" asp-area="RecruiterJ" asp-controller="Recruiter" asp-action="ReviewStudentApplications">Review Applications</a>
                <a class="btn btn-primary custom-btn mx-2 mb-2 rounded" asp-area="RecruiterJ" asp-controller="Recruiter" asp-action="ManageProfile">Manage Profile</a>
            </div>
        </div>          
    </div>
}
