@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div style="text-align: center;">
    <img src="~/wits.png" alt="Wits Logo" />
</div>

