@model List<StudentEmploymentPortal.ViewModels.StudentViewModels.WorkExperienceViewModel>

<h2 class="mt-5">Experience</h2>
<button class="btn btn-primary" id="addWorkExperienceButton">Add</button>
<br />
<br />
<div class="qualification-list">
    @if (Model != null && Model.Count > 0)
    {
        @foreach (var workExperience in Model)
        {
            <div class="qualification-item">
                <span class="qualification-name">@workExperience.Employer</span>
                <div class="qualification-actions">
                    <button class="btn btn-primary editWorkExperienceButton" data-workexperienceid="@workExperience.WorkExperienceId">Edit</button>
                    <button class="btn btn-danger deleteWorkExperienceButton" data-workexperienceid="@workExperience.WorkExperienceId">Delete</button>
                </div>
            </div>
        }
    }
    else
    {
        <p>No work experiences found.</p>
    }

</div>

<!-- Add Work Experience Partial View -->
<div id="addWorkExperiencePartial"></div>

<!-- Edit Work Experience Partial View -->
<div id="editWorkExperiencePartial"></div>

