@model StudentEmploymentPortal.ViewModels.StudentViewModels.QualificationViewModel

<div id="addQualificationPartial" class="add-qualification-popup mb-4">
    <div class="add-qualification-popup-content">
        <h3>Update Qualification</h3>
        <form id="editQualificationForm" class="row" method="post" asp-controller="Student" asp-action="EditQualification" asp-route-itemid="@Model.QualificationId">
            @Html.AntiForgeryToken()

            <input type="hidden" asp-for="QualificationId" />

            <div class="form-group mb-3">
                <label asp-for="Institution">Institution:</label>
                <input asp-for="Institution" class="form-control" required>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Date">Date:</label>
                <input asp-for="Date" class="form-control" required>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Qualification">Qualification:</label>
                <input asp-for="Qualification" class="form-control" required>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Subjects">Subjects:</label>
                <textarea asp-for="Subjects" class="form-control" rows="6"></textarea>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Majors">Majors:</label>
                <textarea asp-for="Majors" class="form-control" rows="6"></textarea>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Submajors">Submajors:</label>
                <textarea asp-for="Submajors" class="form-control" rows="6"></textarea>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Research">Research:</label>
                <textarea asp-for="Research" class="form-control" rows="6"></textarea>
            </div>

            <div class="pt-3">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" id="cancelEditQualificationButton">Cancel</button>
            </div>
        </form>
    </div>
</div>


<script>
    $(document).ready(function () {
        // Cancel Add Qualification button click event
            $("#cancelEditQualificationButton").click(function () {
            $("#editQualificationPartial").html("");
        });

        // Center the add qualification popup
        function centerAddQualificationPopup() {
            var popup = $(".add-qualification-popup");
            var content = $(".add-qualification-popup-content");
            var windowHeight = $(window).height();
            var popupHeight = content.outerHeight();
            var offset = (windowHeight - popupHeight) / 2;
            content.css("margin-top", offset + "px");
        }

        // Call the centering function on window resize
        $(window).resize(function () {
            centerAddQualificationPopup();
        });

        // Initial centering of the popup
        centerAddQualificationPopup();
    });
</script>
