@model StudentEmploymentPortal.ViewModels.StudentViewModels.BuildProfile
@using StudentEmploymentPortal.ViewModels.StudentViewModels
@using System.ComponentModel.DataAnnotations
@using StudentEmploymentPortal.Areas.studentj.Models
@using StudentEmploymentPortal.Utility

@{
    ViewData["Title"] = "Manage Profile";
}

<h1 class="pt-4">@ViewData["Title"]</h1>
 <hr />

<div class="row pt-4">
    <div class="col-md-7">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#personal-details" role="tab" aria-selected="true">Personal Details</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#qualification" role="tab" aria-selected="false">Qualification</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#referee" role="tab" aria-selected="false">Referee</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#work-experience" role="tab" aria-selected="false">Work Experience</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="personal-details" role="tabpanel">
                <form id="profileForm" class="row" method="post" asp-controller="Student" asp-action="SaveProfile">
                    <div class="form-floating py-2 col-12 mt-5">
                        <label asp-for="StudentProfile.Email" class="col-form-label-sm"></label>
                        <input asp-for="StudentProfile.Email" class="form-control" aria-required="true" readonly />
                    </div>
                    <div class="form-floating py-2 col-6">
                        <label asp-for="StudentProfile.FirstName" class="col-form-label-sm">First Name</label>
                        <input asp-for="StudentProfile.FirstName" class="form-control" aria-required="true" readonly />
                    </div>
                    <div class="form-floating py-2 col-6">
                        <label asp-for="StudentProfile.Surname" class="col-form-label-sm">Surname</label>
                        <input asp-for="StudentProfile.Surname" class="form-control" aria-required="true" readonly />
                    </div>
                    <div class="form-floating py-2 col-6">
                        <label asp-for="StudentProfile.Address" class="col-form-label-sm">Address</label>
                        <input asp-for="StudentProfile.Address" class="form-control" aria-required="true" />
                    </div>
                    <div class="form-floating py-2 col-6">
                        <label asp-for="StudentProfile.PhoneNumber" class="col-form-label-sm">Phone Number</label>
                        <input asp-for="StudentProfile.PhoneNumber" class="form-control" aria-required="true" />
                    </div>
                    <div class="form-floating py-2 col-6">
                        <label asp-for="StudentProfile.Telephone" class="col-form-label-sm">Telephone</label>
                        <input asp-for="StudentProfile.Telephone" class="form-control" aria-required="true" />
                    </div>
                    <div class="form-floating py-2 col-6">
                        @if (string.IsNullOrEmpty(Model.StudentProfile.IDNumber))
                        {
                            <label asp-for="StudentProfile.IDNumber" class="col-form-label-sm">ID/Passport Number</label>
                            <input asp-for="StudentProfile.IDNumber" class="form-control" aria-required="true" />
                        }
                        else
                        {
                            <label asp-for="StudentProfile.IDNumber" class="col-form-label-sm">ID/Passport Number</label>
                            <input asp-for="StudentProfile.IDNumber" class="form-control" aria-required="true" readonly />
                        }
                    </div>
                    <div class="form-floating py-2 col-6">
                        <label asp-for="StudentProfile.SelectedRace" class="col-form-label-sm">Race</label>
                        <select asp-for="StudentProfile.SelectedRace" asp-items="Model.StudentProfile.RaceOptions" class="form-select"></select>
                    </div>
                    <div class="form-floating py-2 col-6">
                        <label asp-for="StudentProfile.SelectedNationality" class="col-form-label-sm">Nationality</label>
                        <select asp-for="StudentProfile.SelectedNationality" asp-items="Model.StudentProfile.NationalityOptions" class="form-select"></select>
                    </div>
                    <div class="form-floating py-2 col-6">
                        <label asp-for="StudentProfile.SelectedCurrentYearOfStudy" class="col-form-label-sm">Current Year of Study</label>
                        <select asp-for="StudentProfile.SelectedCurrentYearOfStudy" asp-items="Model.StudentProfile.CurrentYearOfStudyOptions" class="form-select"></select>
                    </div>
                    <div class="form-floating py-2 col-6">
                        <label asp-for="StudentProfile.SelectedFaculty" class="col-form-label-sm">Faculty</label>
                        <select asp-for="StudentProfile.SelectedFaculty" asp-items="Model.StudentProfile.FacultyOptions" class="form-select" id="facultyd"></select>
                    </div>
                    <div class="form-floating py-2 col-6">
                        <label asp-for="StudentProfile.Department" class="col-form-label-sm">Department</label>
                        <select asp-for="StudentProfile.Department" class="form-select" id="studentDepartment" name="Department"></select>
                        <span asp-validation-for="StudentProfile.Department" class="text-danger"></span>
                    </div>

                    <div class="form-floating py-2 col-6">
                        <label asp-for="StudentProfile.SelectedDriversLicense" class="col-form-label-sm">Drivers License</label>
                        <select asp-for="StudentProfile.SelectedDriversLicense" asp-items="Model.StudentProfile.DriversLicenseOptions" class="form-select"></select>
                    </div>
                    <div class="form-floating py-2 col-6">
                        <label asp-for="StudentProfile.SelectedGender" class="col-form-label-sm">Gender</label>
                        <select asp-for="StudentProfile.SelectedGender" asp-items="Model.StudentProfile.GenderOptions" class="form-select"></select>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <label asp-for="StudentProfile.CareerObjective" class="col-form-label-sm">Career Objective</label>
                        <textarea asp-for="StudentProfile.CareerObjective" class="form-control"></textarea>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <label asp-for="StudentProfile.Skills" class="col-form-label-sm">Skills</label>
                        <textarea asp-for="StudentProfile.Skills" class="form-control"></textarea>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <label asp-for="StudentProfile.Achievements" class="col-form-label-sm">Achievements</label>
                        <textarea asp-for="StudentProfile.Achievements" class="form-control"></textarea>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <label asp-for="StudentProfile.Interests" class="col-form-label-sm">Interests</label>
                        <textarea asp-for="StudentProfile.Interests" class="form-control"></textarea>
                    </div>
                    <div class="form-floating py-2">
                        <button type="submit" class="btn btn-primary col-md-12">Save</button>
                    </div>
                </form>
            </div>

            <div class="tab-pane fade" id="qualification" role="tabpanel">
                <partial name="_QualificationPartial" model="Model.Qualifications" />
            </div>

            <div class="tab-pane fade" id="referee" role="tabpanel">
                <partial name="_RefereePartial" model="Model.Referees" />
            </div>

            <div class="tab-pane fade" id="work-experience" role="tabpanel">
                <partial name="_WorkExperiencePartial" model="Model.WorkExperiences" />
            </div>
        </div>

    </div>
</div>
