@{
    ViewData["Title"] = "StudentDashboard";
}

<h1 class="pt-3">Welcome @ViewData["FirstName"]</h1>

<div class="row pt-4">
    <div class="col-md-12 text-center">
        <div class="btn-group" role="group">
            <a class="btn btn-primary custom-btn mx-2 mb-2 rounded" asp-area="StudentJ" asp-controller="Student" asp-action="ManageProfile">Manage Profile</a>
            <a href="#" class="btn btn-primary custom-btn mx-2 mb-2 rounded">Search and Apply</a>
            <a href="#" class="btn btn-primary custom-btn mx-2 mb-2 rounded">Applications History</a>
        </div>
    </div>
</div>

<div class="pt-4">
    <h3 class="mb-5">Links</h3>
    <div class="d-flex">
        <ul>
            <li class="mb-2">
                <a href="https://www.wits.ac.za/media/wits-university/students/ccdu/documents/The%20CV%20%20Cover%20Letter%20[4%20Mar%202020].pdf" target="_blank">CV &amp; Cover Letter Presentation</a> - A pdf of the PowerPoint presentation as presented in the Journey to Employability Programme [JEm]
            </li>
            <li class="mb-2">
                <a href="https://www.wits.ac.za/media/wits-university/students/ccdu/documents/KABELO%20SEKELE%20(5%20Mar%202020).docx" target="_blank">Kabelo Sekele CV</a> - A Word template providing a guide to the essential elements of a CV
            </li>
            <li class="mb-2">
                <a href="https://www.wits.ac.za/media/wits-university/students/ccdu/documents/KABELO%20SEKELE%20(5%20Mar%202020).pdf" target="_blank">Kabelo Sekele CV (pdf)</a> - A pdf template providing a guide to the essential elements of a CV
            </li>
            <li class="mb-2">
                <a href="https://www.wits.ac.za/media/wits-university/students/ccdu/documents/The%20Job%20Interview%20[11%20Mar%202020].pdf" target="_blank">The Job Interview [11Mar2020]</a> - A pdf of the PowerPoint presentation as presented in the Journey to Employability Programme [JEm]
            </li>
        </ul>
    </div>
</div>

