html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 15em; /* Adjust the margin value as needed */
    opacity:1;
}

/*.form-control {
    background-color: #e8f0fe !important;
}

.form-select {
    background-color: #e8f0fe !important;
}

*//*.form-check-input {
    background-color: #e8f0fe !important;
}*/

hr {
    margin: 1rem 0 !important;
    color: inherit !important;
/*     border: none !important; 
     border-top: none !important; */
    opacity: 0.4 !important;
}