/*FOOTER*/

.footer {
    padding: 20px 0;
    margin-top: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}

.footer-connect {
    margin-bottom: 10px;
}

.footer-connect h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.footer-social-media a {
    font-size: 18px;
    margin-right: 10px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
   
}

.footer-links a {
    margin-right: 10px;
    margin-bottom: 3px;
}

.text-center {
    text-align: center;
}



/* Navbar styles */

.graduation-icon {
    font-size: 40px; /* Adjust the font size as desired */
    padding-left: 18px; /* Add padding to the right */
}

.nav-font 
{
    font-size: 15px !important;
}

.role-name-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.role-name {
    font-size: 24px; /* Adjust the font size as desired */
}


.navbar-nav .nav-link {
    font-size: 16px;
    position: relative;
    transition: color 0.3s, transform 0.3s;
}

    .navbar-nav .nav-link:before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        transform: scaleX(0);
        transform-origin: left center;
        transition: transform 0.3s;
    }

    .navbar-nav .nav-link:hover {
        color: #ffffff; /* Change to your desired color */
        transform: translateY(-2px);
    }

        .navbar-nav .nav-link:hover:before {
            transform: scaleX(1);
        }

    .navbar-nav .nav-link:after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .navbar-nav .nav-link:hover:after {
        opacity: 1;
    }
