/*FOOTER*/

.footer {
    padding: 20px 0;
    margin-top: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}

.footer-connect {
    margin-bottom: 10px;
}

.footer-connect h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.footer-social-media a {
    font-size: 18px;
    margin-right: 10px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
   
}

.footer-links a {
    margin-right: 10px;
    margin-bottom: 3px;
}

.text-center {
    text-align: center;
}



/* Navbar styles */

.navbar-nav .nav-link {
    font-size: 16px;
    transition: color 0.3s, box-shadow 0.3s !important;
}

.navbar-nav .nav-link:hover {
    color: #ffffff !important; /* Change to your desired whiteish color */
    box-shadow: 0 0 10px#ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
}
