@model StudentEmploymentPortal.Areas.studentApplicationJ.Models.ApplicationDocument

@{
    ViewData["Title"] = "Add Application Document";
}

<h1>Add Application Document</h1>
<form method="post" enctype="multipart/form-data" asp-area="StudentApplicationJ" asp-controller="StudentApplication" asp-action="AddApplicationDocument">
    <div class="form-group">
        <label for="file">Choose a file:</label>
        <input type="file" id="file" name="file" class="form-control-file" />
    </div>

    <div class="form-group">
        <label for="documentName">Enter document name:</label>
        <input type="text" id="documentName" name="DocumentName" class="form-control" required />
    </div>

    <input type="hidden" name="ApplicationId" value="@ViewData["ApplicationId"]" />

    <button type="submit" class="btn btn-primary">Upload</button>
</form>
